.footer{
    position: absolute;
    top: 145.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--blend-color);
}

.footer img{
    display: none;
}

.footer .aid{
    display: flex;
    justify-content: space-around;
}

.footer .aid .browse, .help, .about{
    display: flex;
    flex-direction: column;
}

.footer .aid .card p{
    font-size: 1.3rem;
    font-family: var(--font-main);
    color: var(--main-color);
}

.footer .aid .card a{
    text-decoration: none;
    padding: 0.3rem 0;
    color: var(--text-color);
    font-family: var(--font-sub);
}

.footer .aid .card a:hover{
    color: var(--sub-color);
}

.footer hr{
    height: 0.2rem;
    width: 90%;
    background: var(--main-color);
    margin: 1rem 0 1rem 4rem;
}

.footer .social{
    display: flex;
    margin-left: 5%;
}

.footer .social a{
    text-decoration: none;
    color: var(--main-color);
    margin: 1rem;
}

.footer .social a:hover{
    color: var(--sub-color);
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%;
    font-family: var(--font-sub);
}

.footer .container a{
    text-decoration: none;
    color: var(--main-color);
    margin-left: 2rem;
}

.footer .container a:hover{
    color: var(--sub-color);
}

@media screen and (max-width: 950px) {
    .footer{
        top: 208rem;
    }

    .footer hr{
        margin-left: 4.5%;
    }
}

@media screen and (max-width: 450px) {
    .footer{
        top: 255rem;
    }

    .footer img{
        display: block;
        height: 35rem;
        position: absolute;
        top: -5%;
        left: 47%;
    }

    .footer .aid{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    .footer .social{
        display: flex;
        justify-content: center;
    }

    .footer .container{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}