.popup{
    position: absolute;
    padding: 2rem;
    width: 40rem;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    background: var(--sub-color);
    /* display: none; */
    visibility: hidden;
    transition: top 0ms ease-in-out 20ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup.active{
    top: 50%;
    visibility: visible;
    transform: translate(-50%, 25%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup .close-btn{
    position: absolute;
    color: var(--blend-color);
    background: var(--main-color);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    text-align: center;
    line-height: 1rem;
    top: 7%;
    left: 95%;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: var(--font-main);
}

form input{
    width: 100%;
    padding: 0.3rem;
    outline: none;
    border: none;
    margin: 0.5rem 0;
    font-family: var(--font-sub);
    border-bottom: 0.02rem solid var(--main-color);
    background: transparent;
}

form .rem{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.popup form input[type="checkbox"]{
    position: absolute;
    top: 41.5%;
    left: -27%;
}

form #submit{
    background: var(--main-color);
    color: var(--sub-color);
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
}
form #submit:hover{
    background: rgba(var(--main-color-bg), 0.5);
    color: var(--main-color);
}

form span{
    text-align: center;
    font-size: 1.3rem;
    color: var(--main-color);
}

.popup form a{
    color: var(--main-color);
    text-decoration: none;
}

.popup .account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .account h1{
    padding: 1rem;
}

.popup .account .adds{
    display: flex;
    align-items: center;
}

.popup .account .adds a{
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
}


.popup .account .adds .google{
    background: var(--blend-color);
    color: var(--text-color);
}
.popup .account .adds .ios{
    background: var(--text-color);
    color: var(--blend-color);
}

@media screen and (max-width: 450px) {
    .popup{
        width: 95%;
    }
    .popup .close-btn{
        left: 87%;
    }
    .popup form input[type="checkbox"]{
        top: 12.7rem;
        left: -2rem;
    }

    form .account h1{
        font-size: 1.5rem;
    }
}